# .absmsg-credentials
# Содержит приватные настройки для рабоы скрипта absmsg.bash
# Пример файла ~/.absmsg-credentials

# Ассоциативный массив email содержит настройки для отправок электронных писем
email[from]="***@komdiv.org"
email[to]="***@komdiv.org"
email[smtp_address]="smtp.yandex.ru:587"
email[smtp_username]="***@komdiv.org"
email[smtp_password]="***"

# Ассоциативный массив sms содержит настройки для отправок СМС сообщений
sms[username]="***"
sms[password]="***"
sms[url]="https://target.tele2.ru/api/v2/send_message"
sms[msisdn]="***"
sms[shortcode]="***"
